.item {
  padding: 10px;
  z-index: 1;
  border: 1px solid #ebebeb;
  border-width: 0 1px 1px 0;
  transition: box-shadow .3s;
  background: #fff;
  max-width: 350px;

  &:hover {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.15);
    z-index: 2;
  }
  
  .mainContainer {
    margin-bottom: 20px;

    .slider-item {
      display: flex !important;
      align-items: center;
      justify-content: center;
      outline: none;

      .img-responsive {
        height: 200px;
      }      
    }

    .slick-next,
    .slick-prev {
      background: transparent;
      height: 100%;
      width: 30px;
      transition: background .45s ease-in-out;
      -moz-transition: background .45s ease-in-out;
      -webkit-transition: background .45s ease-in-out;
      z-index: 10;
      outline: none;
      border-radius: 0;  

      &:hover {
        background: rgba(0,0,0,0.4);
      }

      &:before {
        display: none;
      }

      & span {
        display: block;

        &:before {
          font-size: 14px;
          color: black;
        }  
      }
    }

    .slick-next {
      right: 0;
    }
      
    .slick-prev {
      left: 0;
    }
  }
}
