*,html {
  margin: 0;
}

body {
  overflow-x: hidden !important;
}

body.opened-slider,
body.opened-form {
  overflow: hidden;
}

#content {
  padding: 0 20px;
}

.item {
  border: 1px solid darkgray;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.item .mainImg .img-responsive,
.main-image {
  height: 200px;
  margin: 0 auto;
  display: block;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.images .img-responsive {
  height: 100px;
}

.show-button {
  width: 100%;
  outline: none !important;
  margin: 10px 0;
}

.images {
  padding: 10px;
}

.small-images {
  height: 100px;
}

.information {
  display: flex;
  flex-direction: column;
}

.slider-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.slider-lef-arrow {
  font-size: 140px;
  color: white;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0px, -50%);
  cursor: pointer;
}

.slider-container-image {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-right-arrow {
  font-size: 140px;
  color: white;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0px, -50%);
  cursor: pointer;
}

.slider-close {
  float: right;
  color: white;
  font-size: 30px;
  margin-right: -28px;
  cursor: pointer;
}

.slider-image {
  height: 400px;
}

.slider-indicator {
  float: right;
  color: white;
}

.col-xs-6 {
  position: inherit;
}

/*  form  */

.form-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
}

.form-content {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.form-flex {
  display: flex;
  overflow: auto;
  max-height: calc( 100vh - 70px );
}

.form-left-side {
  display: inline-block;
  padding: 10px;
}

.form-right-side {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: gray;
}

.form-price {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

.form-close {
  float: right;
  color: white;
  font-size: 30px;
  margin-right: -35px;
  margin-top: -30px;
  cursor: pointer;
}

/* admin menu */

.add-menu-item {
  display: inline-block;
}

.add-menu-item-right {
  display: inline-block;
  margin-left: 20px;
}

/* header */

.header {
  background-color: #2b2b2b;
  color: white;
  height: 248px;
  position: relative;
}

.header .header-menu {
  padding: 10px 0;
}

.header .navbar {
  margin-bottom: 0;
}

.header .navbar-default {
  bottom: 0;
  position: absolute;
  width: 100vw;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.upHead {
  text-align: center;
  margin-top: 30px;
}

.page-selector {
  display: block;
}

.container-content {
  min-height: calc(100vh - 428px);
  padding: 15px 5px 15px 5px;
}

.login-form {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-content {
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
}

.login-header {
  text-align: center;
  font-size: 16px;
}

.login-fields {
  padding: 20px 0;
}

.login-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer {
  position: relative;
  background: #2b2b2b;
}

.contacts {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: white;
  text-align: right;
}

.textInfo-items {
  display: inline-block;
  padding-right: 15px;
}

.padding-right {
  padding-right: 5px;
}

.admin-image-container {
  position: relative;
  padding: 10px;
  display: inline-block;
  background-color: #f3f2f2;
  margin: 5px;
}

.remove-image {
  position: absolute;
  top: -6px;
  right: -6px;
  font-size: 17px;
}

.delete-image-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-container {
  position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
   position: absolute;
}

.contained-modal-title {
  height: 500px;
}

.modal-content {
  border: none;
}

.modal-content > .modal-dialog {
  height: auto;
  background-color: white;
}

.modal-open .modal {
  overflow-y: hidden;
}

.modal-dialog {
  height: 600px;
}

/*Home page*/

.cont-left-bl,
.center-bl,
.right-block {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

@media (min-width: 1200px) {
  .wrap {
    width: 1200px;
    margin: 0 auto;
  }
  .footer {
    height: 180px;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  .wrap {
    width: 800px;
    margin: 0 auto;
  }
  .footer {
    height: 180px;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  .wrap {
    width: 400px;
    margin: 0 auto;
  }
  .footer {
    height: 180px;
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .footer {
    height: 206px;
  }
}

.admin-controle-monuments .form-group {
  height: 161px;
  margin-top: 20px;
}

.admin-image-container > div {
  max-height: 150px;
}

.deleting-item {
  display: flex;
  align-items: center;
}

.admin-image-control {
  display: flex;
  align-items: center;
  overflow: auto;
}

.deleting-item > span {
  min-width: 150px;
}

.show-monuments {
  margin-top: 50px; 
}

.monum-table {
  margin-top: 30px;
}

ul.nav.nav-tabs {
  margin-bottom: 20px;
}